<ons-page id="gamePage">
    <div id = "game-area" width = "100%" height = "100%" style = "background-color: blue;">
<!--
    Edutainment
    
    <div class = "spell_area">
        <div class = "spell">Wife</div>
        <div class = "spell">Son</div>
        <div class = "spell">Daughter</div>
    </div> -->
    <div>
    
    <div id = "kanji_area" class = "kanji_area">
        <canvas id = "kanji_canvas" height = "100" width = "100"/>
    </div>
    
    <object id = "kanji_svg" type="image/svg+xml" data="images/kanjivg/0706b.svg" class = "kanji_area" / >
</ons-page>
