<ons-page>
    <ons-list>
        <ons-list-item tappable onClick="make_kanji_canvas('一');$('#kanji_svg').show();">
            <label class="left">
                <ons-radio name="kanji" input-id="one" checked></ons-radio>
            </label>
            <label for="one" class="center">
                One
            </label>
        </ons-list-item>
        <ons-list-item tappable onClick="make_kanji_canvas('二');$('#kanji_svg').show();">
            <label class="left">
                <ons-radio name="kanji" input-id="two"></ons-radio>
            </label>
            <label for="two" class="center">
                Two
            </label>
        </ons-list-item>
        <ons-list-item tappable onClick="make_kanji_canvas('三');$('#kanji_svg').show();">
            <label class="left">
                <ons-radio name="kanji" input-id="three"></ons-radio>
            </label>
            <label for="three" class="center">
                Three
            </label>
        </ons-list-item>
        <ons-list-item tappable onClick="make_kanji_canvas('四');$('#kanji_svg').show();">
            <label class="left">
                <ons-radio name="kanji" input-id="four"></ons-radio>
            </label>
            <label for="four" class="center">
                Four
            </label>
        </ons-list-item>
    </ons-list>
    <!--
    <ons-list class="menu">
        <ons-list-item onClick="make_kanji_canvas('一');toggleMenu();$('#kanji_svg').show();" tappable>
            <ons-icon icon="md-home"></ons-icon> One
        </ons-list-item>
        <ons-list-item onClick="make_kanji_canvas('二');toggleMenu();$('#kanji_svg').show();" tappable>
            <ons-icon icon="md-home"></ons-icon> Two
        </ons-list-item>
        <ons-list-item onClick="make_kanji_canvas('三');toggleMenu();$('#kanji_svg').show();" tappable>
            <ons-icon icon="md-home"></ons-icon> Three
        </ons-list-item>
        <ons-list-item onClick="make_kanji_canvas('薫');toggleMenu();$('#kanji_svg').show();" tappable>
            <ons-icon icon="md-home"></ons-icon> Wife
        </ons-list-item>
        <ons-list-item onClick="make_kanji_canvas('海');toggleMenu();$('#kanji_svg').show();" tappable>
            <ons-icon icon="md-settings"></ons-icon> Son
        </ons-list-item>
        <ons-list-item onClick="make_kanji_canvas('奏');toggleMenu();$('#kanji_svg').show();" tappable>
            <ons-icon icon="md-info"></ons-icon> Daughter
        </ons-list-item>

        <ons-list-item onClick="make_kanji_canvas('火');toggleMenu();$('#kanji_svg').show();" tappable>
            <ons-icon icon="md-info"></ons-icon> Fire
        </ons-list-item>

        <ons-list-item onClick="make_kanji_canvas('楽');toggleMenu();$('#kanji_svg').show();" tappable>
            <ons-icon icon="md-info"></ons-icon> Raku(ten)
        </ons-list-item>

        <ons-list-item onClick="make_kanji_canvas('天');toggleMenu();$('#kanji_svg').show();" tappable>
            <ons-icon icon="md-info"></ons-icon> (Raku)ten
        </ons-list-item>

        <ons-list-item onClick="loadPage('templates/game/game.html');" tappable>
            <ons-icon icon="md-info"></ons-icon> Game
        </ons-list-item>
    </ons-list> -->
</ons-page>
