<ons-page>
    <ons-list class="menu">
        <ons-list-item onClick='getKanjiList("japanese-kanji-jlpt-n5.yml");toggleMenu();' tappable>
            JLPT N5
        </ons-list-item>
        <ons-list-item onClick='getKanjiList("japanese-kanji-super-skill-2-jyou.yml");toggleMenu();' tappable>
            Japanese Elementary School 2nd Grade
        </ons-list-item>
        <ons-list-item onClick='getKanjiList("japanese-kanji-names.yml");toggleMenu();' tappable>
            Names
        </ons-list-item>
        <ons-list-item onClick="toggleMenu();showAbout();" tappable>
            <ons-icon icon="md-info"></ons-icon> About
        </ons-list-item>
    </ons-list>
</ons-page>
