<ons-page id="kanjiPage" style="max-height: 700px;">
    <ons-toolbar class="toolbar">
        <div class="left">
            Kanji Handwriting Drillpad - N5
        </div>
    </ons-toolbar>
    <p id="draw_kanji_label" style="position: absolute; margin-left: 2%; top: 15%;">Draw Fire</p>
    <section>
        <div id="kanji_area" class="kanji_area">
            <canvas id="kanji_canvas" height="210" width="210"></canvas>
        </div>
        <object id="kanji_svg" type="image/svg+xml" data="images/kanji/0706b.svg" class="kanji_area">
        </object>
    </section>

    <div class="content" style="top: 75%;">
        <ons-list id = "kanji_list">
        </ons-list>
    </div>
</ons-page>