<ons-list>
    <!--
    <ons-list-item tappable onClick="make_kanji_canvas('一');$('#kanji_svg').show();">
        <label class="left">
            <ons-radio name="kanji" input-id="one" checked></ons-radio>
        </label>
        <label for="one" class="center">
            One
        </label>
    </ons-list-item>
    <ons-list-item tappable onClick="make_kanji_canvas('二');$('#kanji_svg').show();">
        <label class="left">
            <ons-radio name="kanji" input-id="two"></ons-radio>
        </label>
        <label for="two" class="center">
            Two
        </label>
    </ons-list-item>
    <ons-list-item tappable onClick="make_kanji_canvas('三');$('#kanji_svg').show();">
        <label class="left">
            <ons-radio name="kanji" input-id="three"></ons-radio>
        </label>
        <label for="three" class="center">
            Three
        </label>
    </ons-list-item>
    <ons-list-item tappable onClick="make_kanji_canvas('四');$('#kanji_svg').show();">
        <label class="left">
            <ons-radio name="kanji" input-id="four"></ons-radio>
        </label>
        <label for="four" class="center">
            Four
        </label>
    </ons-list-item> -->
</ons-list>