@import url("toolbar.css");
@import url("../templates/about/about.css");
@import url("../templates/home/home.css");
@import url("../templates/menu/menu.css");
@import url("../templates/settings/settings.css");
@import url("../templates/game/game.css");

.kanji_list {
    width: 100%;
    height: 250dp;
    bottom: 5dp;
}

.internal {
    display: inline;
}